[Desktop Entry]
Name=Slack (container)
StartupWMClass=Slack
Comment=Slack Desktop
GenericName=Slack Client for Linux
Exec=
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
