/*
!/apps
!/tools
!/images
!/generic
!/setup
!/dependencies
!/README.md
!/.gitignore
Containerfile
images/*/outputs
images/*/opt
images/*/files
/**/home/*
!/**/home/.gitignore
*~
OLD
setup/*/outputs
setup/*/opt
archived
files
