[Desktop Entry]
Name=Discord (container)
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=exec_desktop_entry
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
MimeType=x-scheme-handler/discord;
