[Desktop Entry]
GenericName=FlashPrint5
Name=FlashForge 3D Printer Control Software v5 (container)
MimeType=text/plain;
Exec=
Icon=flashforge5
Type=Application
Terminal=false
Categories=Utility;